<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body{
            background: url("https://images.rawpixel.com/image_1000/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcm0yODMtbnVubnktNDM4LmpwZw.jpg");
            background-size: 100%,100%;
        }
    </style>
</head>
<body style="background-color: silver">


<form th:action="@{/logout}" method="post">

    <hr><br>
    <a href="/">Pagrindinis puslapis</a><br><br>
    <hr><br>
    <input  type="submit" value="Atsijungti"/>
</form>
<br>
<ul th:each="forecast : ${myForecasts}">
    <li>
      <div th:text="${forecast.date}"></div>
      <div th:text="${forecast.temperature}"></div>
    </li>

</ul>
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
    </tr>
    <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
    </tr>
    <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
    </tr>
    </tbody>
</table>
</body>
</html>